.careerSection {
  background: #f5f5f5;
  padding: 64px 48px 96px;
  height: 500px;
  border-top: #ccc 1.5px solid;
  border-bottom: #ccc 1px solid;
}

.title {
  margin: 0;
  margin-top: 0;
  text-align: center;
  font-size: 64px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #1f3255; /* 진한 네이비 */
}
