.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  background-color: #223553;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #fff;
  background: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.link:hover {
  cursor: pointer;
  transition: 0.2s ease;
  /* 흰색 알파값 0.5 */
  color: rgba(255, 255, 255, 0.5);
}

.linkButton {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  appearance: none;
}
