.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  background-color: #223553;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
