.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: #273551;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.nav a:hover {
  color: #fff;
}
